*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --blue:#287bff;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;

}

body{
    background: red;
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    
}

.navigation
{
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: var(--blue);
    
    transition: 0.5s;
    overflow:hidden;
}
.navigation.active{
    width: 90px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--blue);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space:nowrap ;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow:  35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow:  35px -35px 0 10px var(--white);
    pointer-events: none;
}
/* main */
.main{
    position: absolute;
    width: calc(100% - 100px);
    left :200px;
    right: 0;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left :80px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.toggle{
    position: relative;
  
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 12px 10px;
   

}
.search form{
    position: relative;
    width: 100%;
}
.search form input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding:  5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border:1px solid var(--black2);
}
.search form ion-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    align-items: center;
}
.user{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow:hidden;
    cursor: pointer;
    margin: 10px 0;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* content */

.content{

    display: flex;
    margin: 10px ;
}


/* category */
.category{
    width: 100%;
    margin: 8px 4;
    background: #fff;
    
}
.category h1{
    text-align: center;
    display: block;
    font-size: 36px;
    margin: 10px 0;
}

.table-content{
    margin: 10px 0;
}


/* form-insert-category */
.insert-cate{
    width: 100%;
    background: #fff;
    display: flex;
}
.form-insert{
    width: 500px;
    margin: 10px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
   
}
.form-insert form{
    display: flex;
    flex-direction: column;
}
.form-insert form span{
    min-width: 100px;
    margin-bottom: 10px;
}
.form-insert form input{
    flex:1;
}

/* Product */
.product{
    width: 100%;
    margin: 8px 4;
    background: #fff;
    
}
.product h1{
    text-align: center;
    display: block;
    font-size: 36px;
    margin: 10px 0;
}
.form-insertProduct{

    width: 500px;
    padding: 10px;
}
.form-insertProduct form button{
    width: 100px;
    outline: none;
    border: none;
    border-radius: 6px;
    margin: 15px 0;
    background: var(--blue);
    color: white;
    
}
.row-input{
    display: flex;
    margin: 10px 5px;
   
}
.row-input input{
    flex:1;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    padding: 2px 4px;
}
.row-input textarea{
    flex:1;
    height: 200px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    padding: 2px 4px;
}
.row-input select{
    font-size: 18px;
}
.row-input span{
    min-width: 150px;
}




/* login admin */
.container-login{
    width: 100%;
    height: 100vh;
    background-color: #6dd5eddc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login{
    width: 500px;
    background-color: #f5f5f5;
    border-radius: 3px

}
.login-heading {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.login-form {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.login-form button {
    min-width: 120px;
    border: none;
    background: #2193b0;
    color: #fff;
    border-radius: 3px;
    height: 28px;
    margin: 12px 0;
}

/* admin order */
.order h2{
    text-align: center;
    margin: 10px 20px 25px;
}
.order table{
    width: 100%;
}
.order table {
    margin: 0 5%;
    text-align: center;
    line-height: 22px;
}
.order nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* thống kê chart css */

.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.hide{
    visibility: hidden;
}